* {

    box-sizing: border-box;
}

.userInformations {

    display: flex;

    flex-direction: column;
    margin: 0;
    overflow-y: auto;
    width: 100%;

}

.headerInformations {

    display: flex;
    flex-direction: row;
    padding-left: 250px;
}

.username {

    padding-top: 100px;
}

.userName {

    display: flex;
    justify-content: start;
}

.userAvatar {

    font-size: 6rem;
    float: right;


}

.otherInformations {

    display: flex;
    flex-direction: row;
}

.otherInformations p+p {

    margin-left: 200px;
}

.footerInfo {

    display: flex;
    justify-content: start;

    flex-direction: column;


}


.footerInfo h1 {

    text-align: start;
    padding-left: 200px;
}

.footerTitleHorizontal {

   width: 91%;

}

.userEntries {

    display: flex;
    flex-direction: column;
    float: left;
    padding-left: 80px;
}