* {
  box-sizing: border-box;
}

.userInformations {
  display: flex;

  flex-direction: column;
  margin: 0;
  overflow-y: auto;
  width: 100%;
  background-color: antiquewhite;
}

.headerInformations {
  display: flex;
  flex-direction: row;
  padding-left: 7em;
}

.username {
  padding-top: 4em;
}

.userName {
  display: flex;
  justify-content: start;
  align-items: center;
}

.userAvatar {
  font-size: 6rem;
  float: right;
}

.otherInformations {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: bold;
}

.otherInformations p + p {
  margin-left: 200px;
}

.footerInfo {
  display: flex;
  justify-content: space-evenly;

  flex-direction: row;
}

.footerInfo h1 {
  text-align: center;
}

.footerTitle {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
}

.footerTitle:active {
  border: 1px solid rgb(168, 146, 118);
  background-color: antiquewhite;
}

.footerTitleHorizontal {
  width: 91%;
}

.footerTitleHorizontal:hover {
  background-color: green;
  border-color: green;
  width: 91%;
}

.userEntries {
  display: flex;
  flex-direction: column;
  float: left;
  padding-left: 80px;
}

.settings {
  margin-left: 1em;
  font-size: 0.75em;
  background-color: rgb(9, 57, 9);
  color: antiquewhite;
  padding: 0.5em;
  border-radius: 20px;
}

.settings:hover {
  cursor: pointer;
  background-color: rgba(9, 57, 9, 0.781);
}

.badies:hover {
  text-decoration: underline;
  cursor: pointer;
}
