* {
  box-sizing: border-box;
}

.entry {
  background-color: rgb(240, 225, 205);
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  margin-left: 4%;
  margin-top: 3%;
  margin-right: 4%;
  padding: 2%;
  border-radius: 25px;
}

.deleteButton {
  display: flex;
  justify-content: flex-end;
}

.entry .entryTitle .entryTitleContainer {
  display: flex;
  flex-direction: row;
  margin: -20px;
}

.entry .entryTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: start;
  font-size: 1.5rem;

  margin-left: 15px;
  flex-direction: row;
  cursor: pointer;
}

.entry .entryTitle h2 {
  text-align: start;
}

.entry .entryCaption {
  font-size: 0.95rem;
  word-wrap: break-word;

  line-height: 1em;
}

.entry .entryLikeDislike {
  display: flex;
  flex-flow: row;
  font-size: 1.2rem;
}

.entryLike + .entryDislike {
  margin-left: 25px;
}

.entryDislike + .enterEntry {
  margin-left: 25px;
}

.entryUserInfo {
  display: flex;
}

.entryFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entryFooter > .entryLikeDislike > .entryUserInfo {
  justify-content: space-between;
}

.entryUserInfo {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;

  right: 60px;
}

.entryUserName:hover {
  text-decoration: underline;
  cursor: pointer;
}
