* {
  box-sizing: border-box;
}

.titlePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  background-color: antiquewhite;
}

.titlePageTitle .titlePageTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enterEntry {
  width: 200px;
  height: 2em;
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  background-color: rgb(240, 225, 205);
  box-shadow: 0px 0.2px 0.2px 0.2px;
  font-size: 1rem;
  border: 0;
  border-radius: 20px;
}

.enterEntry:hover {
  border: 3px solid rgb(240, 225, 205);
  background-color: antiquewhite;
  cursor: pointer;
}
