.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.277);
  }
  
  .modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
  }
  
  .header {
    background: rgb(9, 57, 9);
    padding: 1rem;
  }
  
  .header h2 {
    margin: 0;
    color: white;
  }
  
  button {
    background-color: rgb(9, 57, 9);
    border-radius: 20px;
    border-color: transparent;
    color: white;
    padding: 5px 10px 5px 10px;
  }

  button + button {
    margin-left: 20px;
  }
  
  button:hover {
    cursor: pointer;
    background-color: rgba(9, 57, 9, 0.9);
  }
  
  .content {
    padding: 1rem;
  }
  
  .actions {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }