* {
  box-sizing: border-box;
}

.navigationBar {
  position: relative;
  background-color: rgb(9, 57, 9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
}

.topics {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: antiquewhite;
  font-size: 1.5em;
}
.topics div {
  padding: 0.5em;
}

.navLogo {
  display: inline-block;
  color: antiquewhite;
  font-size: 1.5em;
  padding-left: 1em;
}

.navLogo:hover {
  color: rgb(147, 145, 145);
}

.topBar {
  display: flex;
  height: 60px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.topBar div {
  margin-left: 20px;
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
  text-decoration: none;
  color: antiquewhite;
}

.topBar div:hover {
  color: rgb(147, 145, 145);
}

.topBar ul li:last-child {
  margin-right: 20px;
}

.bottomBar {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  margin-right: 10px;

  color: antiquewhite;
  font-size: 1.5em;
}
.bottomBar i {
  margin-right: 0.8em;
  color: antiquewhite;
  display: flex;
  align-items: center;
}
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
  align-items: center;
  display: flex;
}

.bottomBar :hover {
  color: rgb(147, 145, 145);
  cursor: pointer;
  text-decoration: none;
}

.searchBar {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.searchInput {
  height: 3em;
  display: flex;
  align-items: center;
}

.searchInput:focus {
  outline: none;
}

.profile {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  height: 100%;
  align-items: stretch;
  background-color: aqua;
}

.bottomBar > div {
  margin-left: 2em;
  color: white;
}

.bottomBar ul {
  margin-left: -6px;
  color: antiquewhite;
}

.bottomBar > ul > li {
  display: block;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  padding: 0 10px;
  transition: all 0.2s ease-in-out;
}
