* {
    box-sizing: border-box;
}

.navigationBar{
    position: relative;
    background-color: rgb(9, 57, 9);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navLogo{
    display: inline-block;
    color: antiquewhite;
    font-size: 1.2rem;
    padding-left: 1em;
    padding-top: 0.83em;
}

.topBar{
    
    display: flex;
    height: 60px;
    padding-top: 1em;
    padding-right: 1em;
    color: #fff;
    text-decoration: none;
}

.topBar > div {
    height: 60px;
    line-height: 60px;
    list-style: none;
    margin: 30px auto;
    color: antiquewhite;
}

.topBar div{
    margin-left: 20px ;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    color: antiquewhite;
    
    
}

.topBar ul li:last-child{

    margin-right: 20px;
}

.bottomBar{
    font-weight: 300;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 1em;
    
}

.bottomBar > div{
    margin-left: 2em;
    color: white;
    
}

.bottomBar ul{
    margin-left: -6px;
    color: antiquewhite;
}



.bottomBar > ul > li{
    display: block;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    padding: 0 10px;
    transition: all 0.2s ease-in-out;
}