* {
    box-sizing: border-box;
}


.gundem{
    
    border-style: ridge;
    border-color:  rgb(9, 57, 9);
    border-width: thin;
    border-top: none;
    background-color: antiquewhite;
    float: left;
    width: 20%;
    height: 100%;
   
    
    
}

.gundemTitle{
    
    padding-bottom: 5px;
    border-bottom: solid rgb(9, 57, 9);
    border-width: thin;
    font-size: 1.2rem;
   

}


.gundemler{
    background-color: antiquewhite;
    padding-left: 10%;
    margin-bottom: 0;
    list-style: disc;
    text-align: left;

}

.gundemler li:first-child{
    border-top: 0;
}

.gundemler > li > p{

   display: block;
   padding: 0px 0;
   word-wrap: break-word;
   color: #333;
   text-decoration: underline;
   touch-action: manipulation;
   cursor: pointer;
   font-size: 0.95rem;
   
    

}

.gundemler > li > p:hover{

    background-color: rgb(230, 215, 195);
    width: 100%;
}